body {
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: "Proxima Nova", Helvetica, sans-serif;
}

h2 {
	font-size: 40px;
	color: white;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.header {
	background: #000000;
	padding: 40px;
}

.content img {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

button {
	margin: 0;
	position: absolute;
	top: 70%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 48px;
	width: 20%;
	background-color: #000000;
	color: white;
	font-size: 18px;
	opacity: 1;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
}

button a {
	color: white;
	text-decoration: none;
}
button:hover {
	opacity: 0.9;
}